<GridLayout id="root" rows="*,auto" columns="*">
   <ActionBar row="0" rowSpan="2" [title]="videoTitle" class="player-controller-container-action-bar">
      <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" color="#ffffff" (tap)="navigationButtonBack()"></NavigationButton>
   </ActionBar> 
   <GridLayout  row="0" rowSpan="2">
    <vlc #vlcElement (loaded)="VLCLoaded(vlcElement)"
          [videoPath] = "videoPath" [lastPosition]="positionInDb"
          [aspectRatio]="currentAspectRatio" [audioTrack]="currentAudioTrack"
          (eventHardwareAccelerationError)="eventHardwareAccelerationError()"
          (eventPlaying) = "eventPlaying()"
          (eventParsedChanged) = "eventParsedChanged()"
          (eventTimeChanged) = "eventTimeChanged()"
          (eventEndReached) ="eventEndReached()"
          (eventPausd) = "eventPausd()",
          (eventStopped) = "eventStopped()",
          (eventNativeCrashError)="eventNativeCrashError()",
          (tap)="status()"
     >
     </vlc>

   </GridLayout>
<StackLayout id="seek-text-container" [visibility]=" guestureHandler.seekUiVisibile ? 'visible' : 'collapse'">
  <Label class="seek-text" *ngIf="(currentPosition +  guestureHandler.deltaSeek) <= movieLength && (currentPosition +  guestureHandler.deltaSeek) >=0"
    [text]="(currentPosition +  guestureHandler.deltaSeek) | DurationPipe " ></Label>
  <Label class="seek-text" *ngIf="currentPosition +  guestureHandler.deltaSeek < 0" [text]="0 | DurationPipe " ></Label>
  <Label class="seek-text" *ngIf="currentPosition +  guestureHandler.deltaSeek > movieLength" [text]="movieLength | DurationPipe " ></Label>
  <Label class="seek-text" *ngIf=" guestureHandler.deltaSeek >= 0" [text]="'[ ' + '+'+ ( guestureHandler.deltaSeek | DurationPipe )+' ]'" ></Label>
  <Label class="seek-text" *ngIf=" guestureHandler.deltaSeek < 0" [text]="'[ ' + ( guestureHandler.deltaSeek | DurationPipe )+' ]'" ></Label>
</StackLayout>


<FlexBoxLayout row="0" id="bright-volume-flexbox">
  <StackLayout orientation="vertical" [opacity]="guestureHandler.brightnessChartVisible ? 1 : 0 " >
    <GridLayout rows="*,*,*,*,*,*,*,*,*,*,*,*,*,*,*" id="bar-chart">
      <Label id="bright-chart-core" *ngIf ="guestureHandler.currentBrightness" [row]="15 - guestureHandler.currentBrightness" [rowSpan]=" guestureHandler.currentBrightness == 0 ? 1 : guestureHandler.currentBrightness" ></Label>
    </GridLayout>
    <Label id="bright-chart-icon" class="mdi"  [text]="'mdi-brightness-high' | fonticon"  > </Label>
  </StackLayout>

  <StackLayout orientation="vertical" [opacity]="guestureHandler.volumeChartVisible ? 1 : 0" verticalAlignment= "center">
    <GridLayout rows="*,*,*,*,*,*,*,*,*,*,*,*,*,*,*," id="bar-chart">
      <Label id="vol-chart-core" *ngIf="guestureHandler.currentVolume" [row]="15 - guestureHandler.currentVolume" [rowSpan]=" guestureHandler.currentVolume == 0 ? 1 : guestureHandler.currentVolume" ></Label>
    </GridLayout>
    <Label  id="vol-chart-icon" class="mdi"  [text]="'mdi-volume-up' | fonticon" > </Label>
  </StackLayout>
</FlexBoxLayout>
  
  <GridLayout  #guestures row="0" rowSpan="3" columns = "*,*" (loaded)="guestueresAreLoaded(guestures)">
    <Label  #leftGuestures   row="0"  col="0"   rowSpan="3" (loaded)="label1Loaded(leftGuestures )" horizontalAlignment= "stretch" (tap)="toggleScreen()" ></Label>
    <Label  #rightGuestures  row="0"  col="1"   rowSpan="3" (loaded)="label2Loaded(rightGuestures)" horizontalAlignment= "stretch" (tap)="toggleScreen()" ></Label>
  </GridLayout >

  <!--To disable guestures when locked -->
  <GridLayout *ngIf="isLocked" (tap)="toggleScreen()" row="0" rowSpan="3"> </GridLayout>
  
  
  <Button id="unlock-button" row="0" class="mdi font-icon" [text]="'mdi-lock' | fonticon" (tap)="unLockScreen()" [visibility] =" lockIconVisible ? 'visible' : 'collapse'"></Button>
  <StackLayout row="1" >
  <!--Subtitle -->
  <!--change marginBottom to handle position of subtitle in screen-->
    <FlexBoxLayout id="subtitle-flex" [flexDirection]="isRTL ? 'row-reverse': 'row'"  [visibility] ="isSubEmpty ? 'collapse': 'visible' " >
      <div  *ngFor="let item of subText" >
        <Label *ngIf="item.isWord"  [text]="item.text"  (tap)="showDictionary(item)"> </Label>
        <Label *ngIf="item.isNotWord" [text]="item.text" ></Label>
        <Label *ngIf="item.isLine" flexWrapBefore="true" [text]="''" ></Label>
      </div>
    </FlexBoxLayout>
  <!--Subtitle -->


  <!--PlayerController-->
    <GridLayout  rows="auto" #playerController >
      <GridLayout row="0" class="player-controller-container-action-bar" rows="auto,auto"  [visibility] ="visible ? 'visible' : 'collapse' " >

        <FlexBoxLayout id="player-controller-slider" row="0" >
          <Label id="current-position" [text]="currentPosition  | DurationPipe " ></Label>
          <TNSSlider flexGrow="1" [value]="currentPosition + guestureHandler.deltaSeek " [maxValue]="movieLength" (dragged)="fromUser($event)" ></TNSSlider>
          <Label id="remaining-time" [text]="currentPosition - movieLength | DurationPipe" ></Label>
        </FlexBoxLayout>

        <FlexBoxLayout id="player-controller-buttons" row="1" (tap)="tapPlayerController" >
          <Label  flexGrow="3"></Label>
          <Button class="mdi font-icon"  [text]="'mdi-lock' | fonticon" (tap)="lockScreen()" opacity="1"></Button>
          <Button #tracksBtn class="mdi font-icon" [text]="'mdi-subtitles' | fonticon" (loaded)="tracksBtnLoaded(tracksBtn)"></Button>
          <!--I can not use fontIcon pipe here because of ternary \ue034 is pause icon and \ue037 is play arrow icon-->
          <Button class="mdi font-icon" [text]="isPlaying ? ('mdi-pause' | fonticon) : ('mdi-play-arrow' | fonticon) " (tap)="isPlaying ? vlcAction.pause() : vlcAction.play()" ></Button>
          <Button #moreBtn class="mdi font-icon" [text]="'mdi-more-horiz' | fonticon" (loaded)="moreButtonLoaded(moreBtn)"></Button>
          <Button class="mdi font-icon" [text]="'mdi-aspect-ratio' | fonticon" (tap)="changeAspectRatio()" ></Button>
          <!--<Button text="SUB" (tap)="addSub()" ></Button>-->
          <Label  flexGrow="3"></Label>
        </FlexBoxLayout>

      </GridLayout>

      <Label row="0" id="subtitle-loading"  *ngIf="subtitleIsLoading" [text]="'Loading subtitle ... '" verticalAlignment="bottom" ></Label>
    </GridLayout>

  <!--PlayerController-->
  <
  </StackLayout>

</GridLayout>
