<GridLayout rows="*,auto" columns="*" [style.backgroundColor]="'black'" >
   <ActionBar row="0" rowSpan="2" title="hello" style="opacity:0.5;background-color:black;color:white" [style.marginTop]="statusBarHeight" ></ActionBar> 
   <GridLayout  row="0" rowSpan="2">
    <vlc #vlcElement   horizontalAlignment="center" verticalAlignment="center" (loaded)="loaded()" (unloaded)="unLoaded()"
          [videoPath] = "path" [lastPosition]="position"
          [aspectRatio]="currentAspectRatio" [audioTrack]="currentAudioTrack"
          (loaded)="onLoaded(vlcElement)"
          (eventHardwareAccelerationError)="eventHardwareAccelerationError()"
          (eventPlaying) = "eventPlaying()"
          (eventParsedChanged) = "eventParsedChanged()"
          (eventTimeChanged) = "eventTimeChanged()"
          (eventEndReached) ="eventEndReached()"
          (tap)="status()"
     >
     </vlc>
   </GridLayout>

  <GridLayout row="0" rowSpan="3" columns = "*,*">
    <Label #myLabel1  row="0" col="0"   rowSpan="3" (loaded)="label1Loaded(myLabel1)" horizontalAlignment= "stretch" (tap)="hideBars()"></Label>
    <Label  #myLabel2 row="0" rowSpan="3" col="1"  horizontalAlignment= "stretch" (loaded)="label2Loaded(myLabel2)" (tap)="hideBars()"></Label>
  </GridLayout >

  <StackLayout row="1" >
  <!--Subtitle -->
  <!--change marginBottom to handle position of subtitle in screen-->
    <WrapLayout orientation="horizontal" horizontalAlignment="center" row="1"  verticalAlignment="bottom" opacity="1" marginBottom="5" [visibility] ="isSubEmpty ? 'collapse': 'visible' " style="background-color:black;" >
      <div  *ngFor="let item of subText" >
        <Label *ngIf="item.isWord"  [text]="item.text" style="color:white;font-size:30" marginLeft="5" (tap)="subTapped(item)"> </Label>
        <Label *ngIf="!item.isWord" [text]="item.text" style="color:white;font-size:30" marginLeft="5"></Label>
      </div>
    </WrapLayout>
  <!--Subtitle -->

  <!--PlayerController-->
    <GridLayout rows="auto,auto" columns="auto, *, auto"  style="background-color:black;" [visibility] ="visible ? 'visible' : 'collapse' " >

      <TNSSlider row= "0" col="0" colSpan="3" [value]="currentPosition" [maxValue]="movieLength" (dragged)="fromUser($event)"  ></TNSSlider>

      <StackLayout row="1" col="0" orientation="horizontal">
        <Button text="play" (tap)="vlcAction.play()" ></Button>
        <Button text="pause" (tap)="vlcAction.pause()"></Button>
        <Button text="seek" (tap)="vlcAction.seek(vlcAction.getPosition()+200000)"></Button>
        <Button text="aspectRatio" (tap)="changeAspectRatio()" ></Button>
        <Button text="SUB" (tap)="addSub()" ></Button>
        <Button text="change" (tap)="fileExplorer.explore()"></Button>
      </StackLayout>


      <StackLayout row="1" col="2" orientation="horizontal"  horizontalAlignment="center" verticalAlignment="center" >
        <Label [text]="currentPosition" style="color:white;"></Label>
        <Label text=" / " style="color:white;">></Label>
        <Label [text]="movieLength" style="color:white;"></Label>
      </StackLayout>
    </GridLayout>
  <!--PlayerController-->
  </StackLayout>

</GridLayout>
