/*@import 'nativescript-theme-core/css/core.light.css';*/
.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}


.header{
    background-color:rgb(58,175,133);
    opacity: 1;
    height:60;
    align-items:center;
    padding-left:25;
    padding-right:25;
    color:white;
    font-size:25;  
}