/*@import 'nativescript-theme-core/css/core.light.css';*/
.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}


.font-icon{
    background-color:transparent;
    color:white;
    font-size:40;
    flex-grow: 1;
}

.font-icon:highlighted {
    background-color: blue;
}

.header{
    background-color:#283593;
    height:60;
    align-items:center;
    padding-left:25;
    padding-right:25;
    color:white;
    font-size:25;  
}