RadListView{
    background-color:#eff0f2
}

#thumb-container{
    margin:10;
    background-color:#ffffff
}

#thumb-image-container{
    background-color:black;
}

#thumb-image{
    width:160;
    height:110;
    stretch:aspectFill;
}

#thumb-title{
    margin-left:10;
    horizontal-alignment:left;
}

#video-info{
    orientation:horizontal;
    margin-left:10;
}

#video-length{
    vertical-alignment:center;
}

#search-icon{
    color:black;
    background-color: transparent;
    font-size:22;
}

#search-field{
    border-color:transparent;
    border-width:1;
    font-size:15;
    width:220;
    hint-color:white;
    color:#FFFFFF;
    background-color: transparent;
    height:60;
    /*padding to touch it easier*/
    padding:10;
}

#clear-icon{
    height:60;
    font-size:22;
    margin-top:20;
    /*padding to touch it easier*/
    padding:10;
}