<StackLayout >
    <ActionBar title="myPlayer" class="header" [style.marginTop]="statusBarHeight"></ActionBar>

    <GridLayout>
        <RadListView [items]="paths" selectionBehavior="Press" (itemSelected)="onItemTap($event)"  (loaded)="loaded()" >
            <template tkListItemTemplate let-item="item">
                <StackLayout id="thumb-container" >
                    <StackLayout id="thumb-image-container" >
                        <Image  id="thumb-image" [src] ="item.THUMBNAIL ? item.THUMBNAIL : 'res://logo'"  ></Image> 
                    </StackLayout>
                    <label id="thumb-title" [text]="item.TITLE"></label>

                    <StackLayout id="video-info">
                        <!--<label verticalAlignment = "center" [text]="'srt'"></label>-->
                        <label id="video-length" [text]="item.LENGTH | DurationPipe"></label>
                    </StackLayout>
                </StackLayout>
            </template>
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="4"></ListViewGridLayout>
        </RadListView>
    </GridLayout>

</StackLayout>