StackLayout {
     background-color:white;
     opacity:.8;
}

FlexboxLayout {
    border-color:black;
}

#container{
   flex-direction:row; 

}

#word{
       border-bottom-color: black;
       border-bottom-width: .5;
}

#dictionaryContainer{
       border-left-color: black;

}