StackLayout{
     background-color:white;
     opacity:.8;
}


button { 
    background-color: white;
    padding-left:15;
    padding-right:15;
    text-align:left;
    font-size:15;
}


button[selected = true]{ color: blue; }

button:highlighted { background-color:#64b5f6;}

