StackLayout{
     background-color:white;
     opacity:.8;
}

#header{
    background-color:#283593;
    height:60;
    align-items:center;
    padding-left:25;
    padding-right:25;
}

#header Label{
    color:white;
    font-size:25;  
}

#question{
    padding: 25;
    font-size:20;  
}

#choice{
    justify-content:space-around;
}

#choice button { 
    background-color: white;
    padding-left:15;
    padding-right:15;
    text-align:left;
    font-size:15;
}

#choice button:highlighted { background-color:#64b5f6;}



