StackLayout{
     background-color:white;
     opacity:.8;
}

#question{
    color:black;
    padding: 25;
    font-size:20;  
}

#choice{
    justify-content:space-around;
}


#choice button { 
    color:black;
    background-color: white;
    text-align:center;
    font-size:15;
    width:50%;
}

#choice button:highlighted { background-color:#64b5f6;}



