StackLayout{
     background-color:white;
     opacity:.8;
}

#question{
    padding: 25;
    font-size:20;  
}

#choice{
    justify-content:space-around;
}

#choice button { 
    background-color: white;
    padding-left:15;
    padding-right:15;
    text-align:left;
    font-size:15;
}

#choice button:highlighted { background-color:#64b5f6;}



